.container {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  flex-direction: column;
}

#name-input {
  display: table-cell;
  height: 24px;
  font-size: 28px;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 10px 16px;
}

#join {
  height: 46px;
  font-size: 28px;
  display: table-cell;
  vertical-align: middle;
  padding: 0 16px;
  border: 1px solid transparent;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  margin-left: -1px;
}

#table-input {
  border-radius: 0;
}

.btn-group {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
}

.group {
  margin: auto;
  position: relative;
  display: table;
  height: 46px;
}

#table-select {
  margin-top: 8px;
}

#poker-select,  #poker-review, #poker-right-panel {
  position: relative;
  display: inline-block;
  width: 630px;
}

#poker-right-panel {
  display: inline-block;
  vertical-align: top;
}

#poker-result {
  display: none;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* The poker card container - width and height can be ajusted. */
.poker-card, .poker-card-spacer {
  background-color: transparent;
  width: 122px;
  height: 187px;
  display: inline-block;
  position: relative;
  z-index:10;
  perspective: 1000px; /* 3D effect */
}

.poker-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.poker-card-inner img {
  width: 100%;
  height: 100%;
}

.poker-card-result {
  width: 61px;
  height: 84px;
}

.poker-card-select:hover .poker-card-inner {
  position: relative;
  z-index:100;
  transform: scale(1.1);
}

.poker-card-flip .poker-card-inner {
  transform: rotateY(180deg);
}

.poker-card-front, .poker-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.poker-card-back {
  transform: rotateY(180deg);
}

.owner {
  display: block;
  text-align: center;
}

#countdown {
  margin-left: 5px;
}

#countdown.expired {
  color: red;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

input[type="radio"].timeout {
  display: none;
}

input[type="radio"].timeout + label {
  padding: 0.3rem 0.5rem;
  border: 1px dashed #ccc;
  border-radius: 6px;
}

input[type="radio"].timeout:checked + label {
  border: 1px solid #000;
}
