* { box-sizing: border-box; }

body, main {
  margin: 0;
  min-height: 100dvh;
}

main {
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 12px;
}

.poker-select {
  --card-width: 122px;
  --card-height: 187px;
  --card-gap: 1rem;

  width: calc(5 * (var(--card-width) + var(--card-gap))); 
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  gap: var(--card-gap);
}

/* .poker-select.default .card label { background-color: red; } */

.card {
  width: var( --card-width);
  height: var( --card-height);
}
.card input[type="radio"] {
  display: none;
}

.poker-select.selected .card input[type="radio"]:not(:checked):not(:hover) + label {
  background-image: url("../cards/back.svg")!important;
  transition-property: background-image;
  transition-delay: 0.3s;
  animation: flip;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes flip {
  0% { transform: rotateY(0deg); }
  50% { transform: rotateY(90deg); }
  100% { transform: rotateY(0deg); }
  
}

.card label {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: lightgray;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.card label::after {
  border-radius: inherit;
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.05s linear;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.card label:hover {
  cursor: pointer;
}
.card label:hover::after {
  opacity: 1;
}
